@tailwind base;
@tailwind components;
@tailwind utilities;


/* .box{
    border-width:4px;
    border-style:solid;
    border-image:linear-gradient(45deg,cyan,#00ff95) 1;
  } */

.box{
    background: linear-gradient(#111, #111) padding-box, linear-gradient(45deg,  #57cc99, #80ed99) border-box;
    border: 4px solid transparent;
    box-shadow: rgba(227, 227, 231, 0.5) 0px 8px 24px, rgba(227, 227, 231, 0.5) 0px 16px 56px, rgba(227, 227, 231, 0.5) 0px 24px 80px;
}

.color{
    background: linear-gradient(45deg, red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}

.heightBG{
    height: 30rem;
    background-position: center center;
    background-size: cover;
}

.scrollbar-hide::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }
  
  .scrollbar-hide::-webkit-scrollbar-thumb {
    background-color: lightblue;
  }
  
  .scrollbar-hide::-webkit-scrollbar-track {
    background-color: transparent;
  }


.width2{
  width:100%
}


.custom-loader {
  width: 50px;
  height: 50px;
  display: grid;
}
.custom-loader::before,
.custom-loader::after {    
  content:"";
  grid-area: 1/1;
  --c: radial-gradient(farthest-side,#766DF4 92%,#0000);
  background: 
    var(--c) 50%  0, 
    var(--c) 50%  100%, 
    var(--c) 100% 50%, 
    var(--c) 0    50%;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  animation: s2 1s infinite;
}
.custom-loader::before {
margin:4px;
filter:hue-rotate(45deg);
background-size: 8px 8px;
animation-timing-function: linear
}

@keyframes s2{ 
100%{transform: rotate(.5turn)}
}